<nav class="sidebar sidebar-offcanvas" id="sidebar" *ngIf="isUser">
  <ul class="nav" *ngIf="isUser">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img [src]="avatar" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{user.firstname}} {{user.lastname}}</span>
          <span class="text-secondary text-small">{{user.email}}</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon "></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': findUsers.isActive }" *ngIf="isMod">
      <a class="nav-link" routerLink="/findUser" routerLinkActive #findUsers="routerLinkActive">
        <span class="menu-title">Szukaj użytkowników</span>
        <i class="mdi mdi-account-search menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': createUser.isActive }" *ngIf="isAdmin">
      <a class="nav-link" routerLink="/addUser" routerLinkActive #createUser="routerLinkActive">
        <span class="menu-title">Dodaj użytkownika</span>
        <i class="mdi mdi mdi-account-plus menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="isMod"
        [ngClass]="{'active' : addCategory.isActive || showCategories.isActive}">
      <a class="nav-link" (click)="categoriesCollapsed = !categoriesCollapsed"
         [attr.aria-expanded]="categoriesCollapsed"
         aria-controls="category">
        <span class="menu-title">Zarządzanie kategoriami</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="category" [ngbCollapse]="!categoriesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="addCategory" routerLinkActive="active"
                                  #addCategory="routerLinkActive">Dodaj kategorie</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="showCategories" routerLinkActive="active"
                                  #showCategories="routerLinkActive">Przeglądaj kategorie</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" *ngIf="isUser"
        [ngClass]="{'active' : addEvent.isActive || findEvent.isActive || showMyEvent.isActive || showJoined.isActive || showRequest.isActive}">
      <a class="nav-link" (click)="eventsCollapsed = !eventsCollapsed" [attr.aria-expanded]="eventsCollapsed"
         aria-controls="event">
        <span class="menu-title">Zarządzanie wydarzeniami</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-calendar-text"></i>
      </a>
      <div class="collapse" id="event" [ngbCollapse]="!eventsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="addEvent" routerLinkActive="active"
                                  #addEvent="routerLinkActive">Dodaj wydarzenie</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="findEvent" routerLinkActive="active"
                                  #findEvent="routerLinkActive">Szukaj wydarzenia</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="showMyEvents" routerLinkActive="active"
                                  #showMyEvent="routerLinkActive">Moje wydarzenia</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="showJoined" routerLinkActive="active"
                                  #showJoined="routerLinkActive">Bierzesz udział</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="showRequest" routerLinkActive="active"
                                  #showRequest="routerLinkActive">Moje prośby o dołączenie</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': charts.isActive }">
      <a class="nav-link" routerLink="charts/chartjs" routerLinkActive #charts="routerLinkActive">
        <span class="menu-title">Charts</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">
      <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">
        <span class="menu-title">Icons</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item"
        [ngClass]="{ 'active' : blankPage.isActive || login.isActive || register.isActive || error404.isActive || error500.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"
         [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">
        <span class="menu-title">Sample Pages</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active"
                                  #blankPage="routerLinkActive"> Blank Page </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="user-pages/login" routerLinkActive="active"
                                  #login="routerLinkActive"> Login </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="user-pages/register" routerLinkActive="active"
                                  #register="routerLinkActive"> Register </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="error-pages/404" routerLinkActive="active"
                                  #error404="routerLinkActive"> 404 </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="error-pages/500" routerLinkActive="active"
                                  #error500="routerLinkActive"> 500 </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
