<div class="d-flex align-items-center auth px-0" *ngIf="!this.isLoggedIn">
  <div class="row w-100 mx-0">
    <div class="col-lg-8 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="alert alert-success text-center" *ngIf="!this.isLoggedIn && confirm!==''">
          {{confirm}}
        </div>
        <div class="alert alert-error text-center" *ngIf="!this.isLoggedIn && error!==''">
          {{error}}
        </div>
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4>Resetowanie hasła</h4>
        <h6 class="font-weight-light" *ngIf="token === null">Po poprawnym podaniu danych na adres email zostanie
          przesłany
          link aktywny przez
          15 minut</h6>
        <h6 class="font-weight-light" *ngIf="token !== null">Podaj nowe hasło</h6>
        <form *ngIf="token === null" class="pt-3" name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>

          <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" class="form-control form-control-lg" id="username" name="username"
                   [(ngModel)]="form.username"
                   required
                   #username="ngModel" placeholder="Podaj nazwę użytkownika"/>
            <div class="alert alert-danger text-center" role="alert" *ngIf="username.errors && f.submitted">
              Nazwa użytkownika jest wymagana
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-lg" id="email"
                   name="email"
                   [(ngModel)]="form.email"
                   required
                   minlength="6"
                   #email="ngModel" placeholder="Podaj email"/>
            <div class="alert alert-danger text-center" role="alert" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Hasło jest wymagane</div>
            </div>
          </div>

          <div class="form-group d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-dark btn-block mb-2">Zresetuj</button>
          </div>
        </form>
        <form *ngIf="token !== null" class="pt-3" [formGroup]="formPassword" (ngSubmit)="onSubmitPassword()">
          <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" class="form-control form-control-lg" id="password"
                   formControlName="password"
                   name="password"
                   [ngClass]="{ 'is-invalid': submittedPassword && fPassword.password.errors }"
                   placeholder="Podaj hasło"/>
            <div class="invalid-feedback text-white text-center bg-info"
                 *ngIf="fPassword.password.errors && submittedPassword">
              <div *ngIf="fPassword.password.errors.required">Hasło jest wymagane</div>
              <div *ngIf="fPassword.password.errors.minlength">
                Hasło musi mieć co najmniej 6 znaków
              </div>
              <div *ngIf="fPassword.password.errors.pattern">
                Hasło musi się składać z przynajmniej: 1 wielkiej litery, 1 małej litery, 1 cyfry
              </div>
            </div>
          </div>
          <div class="form-group d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-dark btn-block mb-2">Zresetuj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
